@media screen and (max-width: 1450px) {
  .left {
    padding: 0;
    left: 40px;
    transform: translateY(70px);
    max-width: 300px;
    height: 280px;
    overflow: hidden;
  }
  
  .right {
    padding: 0;
    transform: translateY(70px);
    max-width: 290px;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1300px) {
  .left {
    max-width: 250px;
  }
  
  .right {
    max-width: 250px;
  }

}

@media screen and (max-width: 1210px) {
  .left {
    position:static;
    display: inline;
    width: 1000px;
  }
  
  .right {
    position: static;
    display: inline;
  }

}

@media screen and (max-width: 900px) {
  .course_1 {
    overflow: hidden;
  }

  .details {
    padding-top: 20px;
    padding-left: 20px;
    display: block;
  }

  .Image {
    text-align: center;
    margin: auto;
  }

  .cite {
    max-width: 90%;
    width: 400px;
    height: 150px;
  }

  .me {
    max-width: 500px;
    padding: 20px;
    text-align: justify;
    text-justify: justify;
    margin: auto;
  }

  .service {
    max-width: 700px;
  } 
}

@media screen and (max-width: 530px) {
  .course {
    max-width: 90%;
    margin: auto;
  }

  .cite {
    max-width: 500px;
    height: 150px;
  }

  input {
    margin: auto;
    width: 90%;
  }

  textarea {
    margin: auto;
    width: 90%;
    padding-bottom: 15px;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .whatsapp {
    position: fixed;
    width: 40px;
    bottom: 30px;
    right: 20px;
  }

  .whatsapp :hover {
    transform: none;
  }
}
