* {
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

header {
  padding-top: 15px;
  margin: auto;
  text-align: center;
}

.data {
  margin: auto;
  justify-content: center;
  display: flex;
}

.information {
  padding-top: 15px;
  max-width: 500px;
  padding-right: 5px;
  text-align: justify;
  text-justify: inter-word;
}

.change {
  padding-top: 15px;
  max-width: 500px;
  text-align: justify;
  text-justify: inter-word;
  border-left: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

.details {
  padding-top: 20px;
  padding-left: 20px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.me {
  max-width: 500px;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.cite {
  padding-top: 15px;
  max-width: 700px;
  width: 300px;
  height: 100px;
  overflow: hidden;
}

.maps {
  max-width: 500px;
}

.map {
  width: 100%;
  height: 180px;
  border: none;
  border-radius: 25px;
}

.service {
  padding-top: 50px;
  max-width: 50%;
  direction: unset;
  margin: auto;
  text-align: center;
}

.service h2 {
  padding-bottom: 15px;
}

.course {
  padding-top: 20px;
  padding-left: 20px;
  margin: auto;
  justify-content: center;
  display: flex;
  text-align: center;
}

.course_1 {
  height: 300px;
  width: 250px;
  background-color: #1e90ff;
  border-radius: 10px;
  box-shadow: -1rem 0 1rem #1873cda1;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.course_1:not(:first-child) {
  margin-left: -50px;
}

.course_1:hover {
  transform: translateY(-50px);
  padding: 20px;
  margin: 15px;
  transition: 0.4s ease-out;
  width: 100%;
  background-color: #ffbc00;
}

.course_1:hover ~ .course_1 {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

a {
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
}

p {
  padding-top: 20px;
}

.testimonials {
  justify-content: center;
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-color: #1874cd;
  background: transparent;
}

textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #1e90ff;
  outline: none;
  width: 500px;
  height: 15px;
  resize: none;
  background: transparent;
}

button {
  background-color: #1874cd;
  border: none;
  color: #ffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  border-radius: 15px;
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

label {
  padding: 15px;
}

.whatsapp {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 40px;
  z-index: 2;
}

.whatsapp :hover {
  transform: scale(1.5);
}

.books {
  position: relative;
  padding-top: 25px;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 50%;
}

.books img {
  width: 100%;
}

.left {
  position: absolute;
  padding: 10px;
  text-align: center;
  top: 0;
  left: 60px;
  transform: translateY(100px);
  max-width: 400px;
  width: 100%;
}

.right {
  position: absolute;
  padding: 10px;
  text-align: center;
  top: 0;
  right: 50px;
  transform: translateY(100px);
  max-width: 400px;
  width: 100%;
}

.recommendation{
  display:none;
}